/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

*{
    margin:0;
    font-family:'Times New Roman', Times, serif;
}

nav{
    background-color: rgb(35, 34, 34);
    color: #ffff;
    padding: 12px; 
    /* top left bottom right */
    display: flex;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar-menu{
    list-style: none;
    margin: 0px 7px;
    cursor: pointer;
}

.container{
    max-width: 80vw;
    margin: 24px auto;
}

table, th, tr, td{
    border: 2px solid black;
    margin: 25px 0px;
    border-collapse: collapse;
    padding: 10px 8px;
    text-align: left;
}

.delete-btn{
    padding: 4px 13px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: 2px solid pink;
    cursor: pointer;
}

.edit-btn{
    background-color: blue;
    border: 2px solid skyblue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px 20px;
    margin: 10px 0px;
}
.save-btn {
    background-color: greenyellow;
    border: 2px solid rgb(27, 180, 30);
    color: green;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px 20px;
    margin: 10px 0px;
}

.update-btn{
    background-color: greenyellow;
    border: 2px solid rgb(27, 180, 30);
    color: green;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px 20px;
    margin: 10px 0px;
    
}

.form-input{
    padding: 5px 11px;
}

.form-label{
    margin: 10px;
}

.copy{
    cursor: pointer;
}